<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Your profile')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<!-- New Arrivals section start -->
<!-- Source https://www.codejava.net/frameworks/spring-boot/user-registration-and-login-tutorial -->
<div class="collection_text">Your profile</div>
<!-- New Arrivals section end -->
<div class="collection_section section">
    <div class="container">
        <h2 class="section_title" th:text="'Username: ' + ${user.getUsername()}"></h2>
        <h2 class="section_title" th:text="'Role: ' + ${user.getRole()}"></h2>
</div>

<!-- section footer start -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: copyright"></div>
<div th:replace="fragments/components :: scripts"></div>
</body>
</html>
