<html>
<head th:fragment="head(title)">
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title th:text="${'D-FlipFLop - ' + title}"></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/51efaa9746.js" crossorigin="anonymous"></script>
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- favicon -->
    <link rel="icon" href="images/favicon.png" type="image/gif">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
<div th:fragment="menu" class="header_section header_main">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo"><a href="/">D-FlipFlop</a></div>
            </div>
            <div class="col-sm-8">
                <nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto">
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/">Home</a>
                            <a class="nav-item nav-link" href="/store">Store</a>
                            <!-- Not Authenticated -->
                            <a sec:authorize="!isAuthenticated()" class="nav-item nav-link" href="/login">Login</a>
                            <a sec:authorize="!isAuthenticated()" class="nav-item nav-link" href="/register">Register</a>
                            <!-- Authenticated -->
                            <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/profile">Profile</a>
                            <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/logout">Logout</a>
                            <!-- -->
                            <a class="nav-item nav-link" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:fragment="footer" class="section_footer">
    <div class="container">
        <div class="row">
            <div class="footer_heigvd">Made @ HEIG-VD</div>
            <div class="social_icon">
                <a href="#"><img src="images/fb-icon.png"></a>
                <a href="#"><img src="images/twitter-icon.png"></a>
                <a href="#"><img src="images/in-icon.png"></a>
                <a href="#"><img src="images/google-icon.png"></a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="copyright" class="copyright">2021 D-FlipFlop.</div>
<div th:fragment="scripts" style="display: none;">
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/nice-select.js"></script>
    <script>
        $(document).ready(function() {
            $('select').niceSelect();
        });
    </script>
</div>
<div th:fragment="message_display">
    <br/>
    <h1 th:if="${success}" th:text="${success}" style="color: green"></h1>
    <h1 th:if="${error}" th:text="${'Error : ' + error}" style="color: red"></h1>
</div>
</body>
</html>
