
<div th:fragment="list_items(products)">
    <div class="container">
        <div class="row">
            <div th:each="prod : ${products}" class="col-sm-4">
                <a th:href="'store/product/' + ${prod.getId()}">
                    <div class="best_shoes">
                        <p class="item_name" th:text="${prod.getName()}"></p>
                        <div class="item_icon"><img th:src="'https://s3.eu-central-1.amazonaws.com/dflipflop.diduno.education/' + ${prod.getImageRelativePath()}" th:alt="${prod.getName()}"/></div>
                        <td>
                                           <span th:if="${prod.quantity > 0 &&  prod.getPrice() > 0}">

                <div class="price"><span style="color: #ff4e5b;" th:text="${prod.getPrice()}"></span> CHF</div>
                </span>


                            <span th:if="${prod.price <= 0 || prod.price == null}">
                    <body> <th:block th:text="Indisponible"></th:block> </body>
                    </span>

                            <span th:if="${(prod.quantity <= 0 || prod.quantity == null) && prod.price > 0}">
                                <body> <th:block th:text="'Indisponible  ( ' + ${prod.getPrice()} + 'CHF)'"></th:block> </body>
                    </span>
                        </td>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>