<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Store')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<!-- content start -->
<div class="collection_text">Welcome</div>
<div class="banner_section">
    <div class="container-fluid">
        <section class="slide-wrapper">
            <div class="collection_section section">
                <div class="container">
                    <h1 class="section_title">About our shop</h1>
                    <div class="section_text">
                        We, D-FlipFlop, used to sell shoes, but this time is far away. Now the tech industry is our
                        new friend. <br>
                        We are proud to present you our new collections of high-tech products. (super coool)
                    </div>
                </div>
            </div>
            <!-- header section end -->
            <!-- new collection section start -->
            <div class="layout_padding collection_section">
                <div class="container">
                    <h1 class="section_title">Trending</h1>
                    <p class="section_text">Our customers love these products</p>
                    <div class="collection_section_2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="trend_elem1">
                                    <div class="trend_img1"><img th:src="${trends[0].getImageRelativePath}"
                                                                 alt="trend 1"></div>
                                    <h1 class="centered" th:text="${trends[0].getName()}"></h1>
                                    <div class="price_text">CHF <strong th:text="${trends[0].getPrice()}"></strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="trend_elem2">
                                    <div class="trend_img2"><img th:src="${trends[1].getImageRelativePath}"
                                                                 alt="trend 2"></div>
                                    <h1 class="centered" th:text="${trends[1].getName()}"></h1>
                                    <div class="price_text">CHF <strong th:text="${trends[1].getPrice()}"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="centered"><a href="/store">
                            <button class="seemore_bt">See More</button>
                        </a></div>

                    </div>
                </div>
            </div>
            <div class="container ">
                <div class="collection_section">
                    <h1 class="section_title"><strong>Our favorite</strong></h1>
                    <p class="section_text">We recommend taking a look at this, it's the best !</p>
                </div>
            </div>
            <div class="collection_section_3">
                <div class="container">
                    <div class="favorite">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="favorite_img"><img th:src="${favorite.getImageRelativePath()}"
                                                               alt="favorite"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="favorite_name"><span th:text="${favorite.getName()}"></span></div>
                                <div class="favorite_price">CHF <span th:text="${favorite.getPrice()}"></span>
                                </div>
                                <a th:href="'store/product/' + ${favorite.getId()}">
                                    <button class="seemore_bt">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section collection_section">
                <div class="container">
                    <h1 class="section_title">New Arrivals Products</h1>
                    <div class="section_text">Here are some new products for you</div>
                </div>
                <div class="gallery_section">
                    <div th:replace="fragments/gallery :: list_items(${latest_products})"></div>
                    <div class="buy_now_bt">
                        <a href="store">
                            <button class="buy_text">Buy Now</button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- New Arrivals section end -->

            <div th:replace="fragments/components :: footer"></div>
            <div th:replace="fragments/components :: copyright"></div>
            <div th:replace="fragments/components :: scripts"></div>
        </section>
    </div>
</div>
</body>
</html>
