<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Store')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<!-- content start -->
<div class="collection_text">Welcome</div>
<div class="banner_section">
    <div class="container-fluid">
        <section class="slide-wrapper">
            <div class="container-fluid">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                </div>
            </div>
            <!-- header section end -->
            <!-- new collection section start -->
            <div class="layout_padding collection_section">
                <div class="container">
                    <h1 class="section_title"><strong>New Collection</strong></h1>
                    <p class="section_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <div class="collection_section_2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-img">
                                    <button class="new_bt">New</button>
                                    <div class="shoes-img"><img src="images/shoes-img1.png"></div>
                                    <p class="sport_text">Men Sports</p>
                                    <div class="dolar_text">$<strong style="color: #f12a47;">90</strong></div>
                                    <div class="star_icon">
                                        <ul>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="seemore_bt">See More</button>
                            </div>
                            <div class="col-md-6">
                                <div class="about-img2">
                                    <div class="shoes-img2"><img src="images/shoes-img2.png"></div>
                                    <p class="sport_text">Men Sports</p>
                                    <div class="dolar_text">$<strong style="color: #f12a47;">90</strong></div>
                                    <div class="star_icon">
                                        <ul>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                            <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collection_section">
                <div class="container">
                    <h1 class="section_title"><strong>Racing Boots</strong></h1>
                    <p class="section_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
            </div>
            <div class="collection_section_3 layout_padding">
                <div class="container">
                    <div class="racing_shoes">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="shoes-img3"><img src="images/shoes-img3.png"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="sale_text"><strong>Sale <br><span style="color: #0a0506;">JOGING</span> <br>SHOES</strong>
                                </div>
                                <div class="number_text"><strong>$ <span style="color: #0a0506">100</span></strong>
                                </div>
                                <button class="seemore">See More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collection_section layout_padding">
                <div class="container">
                    <h1 class="section_title"><strong>New Arrivals Products</strong></h1>
                    <p class="section_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
            </div>
            <!-- new collection section end -->
            <!-- New Arrivals section start -->
            <div class="layout_padding gallery_section">
                <div th:replace="fragments/gallery :: list_items(${products})"></div>
                <div class="buy_now_bt">
                    <a href="store">
                        <button class="buy_text">Buy Now</button>
                    </a>
                </div>
            </div>
            <!-- New Arrivals section end -->
            <div class="collection_section layout_padding">
                <div class="section_title">About our shop</div>
                <div class="section_text">
                    <p>We, D-FlipFlop, used to sell shoes, but this time is far away. Now the tech industry is our new
                        friend.</p>
                    <p>We are proud to present you our new collections of high-tech products. (super coool)</p>
                </div>
            </div>

            <div th:replace="fragments/components :: footer"></div>
            <div th:replace="fragments/components :: copyright"></div>
            <div th:replace="fragments/components :: scripts"></div>
        </section>
    </div>
</div>
</body>
</html>
